<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>忘記密碼</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="head">
      <p><h2>你好!! 歡迎光臨會員系統</h2></p>
      
    </div>
    <hr>

    <div class="body">        
        
        <div class="sign_up">
            <h3>請輸入信箱</h3>
            <form action="/checkmail" method="post">
                信箱 : <input type="text" name="email"><br>
                <br>
                <button>確認信箱</button> <button formaction="/" formmethod="get">取消</button>
            </form></div>


            


    </div>


  </body>
</html>
