<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>忘記密碼</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="head">
      <p><h2>你好!! 歡迎光臨會員系統</h2></p>
      
    </div>
    <hr>

    <div class="body">        
        
        <div class="sign_up">
            <h3>忘記密碼了嗎? 請輸入新的密碼 : </h3>
            <form action="/forget" method="post">
                輸入新密碼 : <input type="password" name="password0"><br>
                輸入第二次密碼 : <input type="password" name="password1"><br>
                <br>
                <button>修改密碼</button> <button formaction="/" formmethod="get">取消</button>
            </form></div>

    </div>


  </body>
</html>
